.App {
  text-align: center;
  display: block;
  margin: 30px auto;
  max-width: 1000px;
  width: 90%;
}

.App .container-weather-app {
  border: 1px solid rgb(190, 191, 201);
  border-radius: 10px;
}
