.WeatherSearch .get-current-info {
  display: flex;
}

.WeatherSearch .get-current-info form {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 40px;
}

.WeatherSearch .get-current-info .input-search {
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 40px;
  padding: 10px;
  width: 300px;
}

.WeatherSearch .get-current-info .current {
  margin: 5px;
}

.WeatherSearch .weather-stats {
  margin: 20px 45px;
  text-align: left;
}

.WeatherSearch .weather-stats h1 {
  color: #1f1e1e;
  font-size: 50px;
}
.WeatherSearch .weather-stats h2 {
  color: #464545;
}

.WeatherSearch .weather-stats p {
  margin: 0px;
  color: #878787;
}

.WeatherSearch .weather-stats .left-side-weather-stats {
  display: flex;
  margin-top: 15px;
}

.WeatherSearch .weather-stats .right-side-weather-stats {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.WeatherSearch .weather-stats .right-side-weather-stats p {
  margin: 0px;
}
